# Grundlegende Abhängigkeiten
streamlit==1.38.0
python-dotenv==1.0.1
pydantic==2.6.3

# LangGraph
langgraph==0.1.25

# LangChain
langchain==0.1.13
langchain-core==0.1.31
langchain-community==0.0.29
langchain-anthropic==0.1.7
langsmith==0.1.5